@page "/usermanager"
@using BookingApp.Data
@inject UserManagerService UserManagerService 
@attribute [Authorize(Roles = "approved")]

<h1>User Manager</h1>

@if (users == null)
{
    <p>Loading users..</p>
} else
{
    <table>
        <tr>
            <th></th>
            <th></th>
        </tr>
  @foreach (var user in users)
  {
      <tr>
            <td>@user.Name</td>
            <td>@if (!user.Approved) {
            <button @onclick="()=>ApproveUser(user)">Approve</button>
        }
        else
        {
            <text>Approved</text>
            <button @onclick="()=>RejectUser(user)">Reject</button>
        }
         
    </td>
        </tr>
  }
      </table>
}

@code {
    private IEnumerable<BookingUser> users;

    private async Task ApproveUser(BookingUser user)
    {
        await UserManagerService.ApproveUser(user);
        user.Approved = true;
    }

    private async Task RejectUser(BookingUser user)
    {
        await UserManagerService.RejectUser(user);
        user.Approved = false;
    }

    protected async override Task OnInitializedAsync()
    {
        users = await UserManagerService.GetUsers();
    }
}
