@inject UserService UserService

@if (userDescriptions.Any()) 
    {<text>Reservations:</text>}
else
    {<em>no reservations</em>}

<table>
@foreach (var userDescription in userDescriptions)
{
    <tr>
        <td>@userDescription.UserName</td>
        <td>@userDescription.QueueStatus</td>
    </tr>
}
</table>

@code {
    [Parameter]
    public IEnumerable<string> userIds { get; set; }

    [Parameter]
    public int Size { get; set; }

    private IEnumerable<UserReservationDescription> userDescriptions { get; set; }

    class UserReservationDescription
    {
        public string UserName { get; set; }
        public string QueueStatus { get; set; }
    }

    protected override Task OnParametersSetAsync()
    {
        var users = UserService.GetUsers(userIds);
        userDescriptions = 
    users.Take(Size).Select(e=>new UserReservationDescription{UserName=e})
    .Concat(users.Skip(Size).Select(e=>new UserReservationDescription {UserName=e,QueueStatus="(queue)" }));
        return Task.CompletedTask;
    }

}
