@inject UserService UserService

@if (userNames.Any()) 
    {<text>Reservations:</text>}
else
    {<em>no reservations</em>}

<table>
@foreach (var username in userNames)
{
    <tr>
        <td>@username</td>
    </tr>
}
</table>

@code {
    [Parameter]
    public IEnumerable<string> userIds { get; set; }

    private IEnumerable<string> userNames { get; set; }

    protected override Task OnParametersSetAsync()
    {
        userNames = UserService.GetUsers(userIds);
        return Task.CompletedTask;
    }

}
